html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  padding: 0 20px 0 20px;
  justify-content: space-between;
  background-color: #3C3A39;
  align-items: center;
  color: white;
  height: 10vh;
}

.intro {
  height: 90vh;
  background-color: #1C1A19;
  padding: 0 24px 130px 24px;
}

header {
  font-family: Crete Round;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  color: #FF6B00;
  padding-top: 100px;
}

header > p {
    margin: auto;
    padding-bottom: 15px;
}
.primary-content > h3 {
    font-family: roboto;
    color: #FFF5E1;
    font-size: 24px;
    line-height: 32px;
    margin: auto;
}

.primary-content > p {
    font-family: poppins;
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.socials {
    display: flex;
    width: 230px;
    justify-content: space-between;
}

.fab {
    color: #DBD8D7;
}

